.customers-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    gap: 30px;
    height: 100vh;
    position: relative;
    left: 300px;
    width: calc(100vw - 320px);
    margin-top: 50px;
}

.customers-container section{
    position: relative;;
}

.customers-container span{
    display: flex;
    align-items: center;
}

.customers-searchBar{
    display: flex; 
    position: relative;
    gap: 30px;
    width: 800px;

}

.search-input input{
    width: 700px;
}

.customers-search-icon{
    font-size: 25px;
    color: #767e95;
}

.customers-pageButtons{
    display: flex;
    gap: 30px;
}   