.customer-details{
    height: auto;
    width: calc(100vw - 300px);
    min-height: 100vh;
    position: relative;
    left: 285px;
    transition: 0.1s;
    
}

.notExpanded{
    left: 70px;
    width: calc(100vw - 85px);
}

.details-card{
    display: flex;
    width: 90%;
    max-width: 900px;
    height: 290px;
    margin: 50px auto 0 auto;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.details-card button{
    margin-top: 20px;
}

.customer-picture{
    width: auto;
    border-right: solid rgb(218, 214, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    gap: 30px;
}

.customer-picture div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-picture img{
    border-radius: 50%;
    max-width: 200px;
    height: auto;
}

.personal-info{
    padding: 10px;
    line-height: 1.8;
    padding: 0 30px;
}

.personal-info h3{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
}

.location-card{
    width: 90%;
    max-width: 900px;
    height: auto;
    margin: 30px auto 0 auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.location-card h3{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
}

.location-details-container{
    display: flex;
    height: 250px;
    margin: 30px 0;
}

.map-container{
    height: 250px;
    width:50%;
    border-right: solid rgb(218, 214, 214);
    padding-right: 15px;
}

.location-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}