.dashboard{
    height: auto;
    width: calc(100vw - 250px);
    position: absolute;
    right: 0;
    top: 0;
    background-color:  #ECECEC;
    min-height: 100vh;
}

.datacard-container{
    display: flex;
    gap: 20px;
    background-color: #FFFFFF;
    padding: 15px 10px;
    margin: 0 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.charts-section{
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    padding: 15px 10px;
    margin: 0 10px;
}

.dashboard-charts{
    background-color: #FFFFFF;
    width: 450px;
    flex: 1;
    display: flex;
    justify-content:center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.table-section{
    margin: 0 20px;
    padding: 15px 10px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    color: navy;
}