.dashboard{
    height: auto;
    width: calc(100vw - 300px);
    min-height: 100vh;
    position: relative;
    left: 285px;
}

.datacard-container{
    display: flex;
    gap: 20px;
    background-color: #FFFFFF;
    padding: 15px 10px;
    margin: 0 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.charts-section{
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    padding: 15px 10px;
    margin: 0 10px;
}

.dashboard-charts{
    display: flex;
    justify-content:center;
    align-items: center;
}

.chart-container{
    background-color: #FFFFFF;
    flex: 1;
    width: 450px;
    font-weight: 500;
    font-size: 17px;
    padding: 10px 20px 0 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.table-section{
    margin: 0 20px;
    padding: 15px 10px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}