.dashboard{
    height: auto;
    width: calc(100vw - 250px);
    position: absolute;
    right: 0;
    top: 0;
    background-color:  #ECECEC;
    min-height: 100vh;
}

.datacard-container{
    display: flex;
    gap: 20px;
    background-color: #FFFFFF;
    padding: 15px 10px;
    margin: 0 20px;
}

.charts-container{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 15px 10px;
    margin: 0 10px;
}