.datacard{
    width: 30%;
    height: 140px;
    text-align: left;
    padding: 20px;
    flex: 1;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.datacard-title{
    font-size: 20px;
    color: white;
}

.datacard-content{
    font-size: 40px;
    font-weight: 500;
    color: white;
}

.card-icon{
    color: #FFFFFF;
    font-size: 100px;
    position: absolute;
    bottom: 1;
    right: 0;
    opacity: 0.2;
}